<?xml version="1.0" encoding="UTF-8"?>

<config>
        <bug_file>
            bugs.txt
        </bug_file>
        <build_command>
            /Users/jroll/Downloads/apache-maven-3.3.3/bin/mvn clean install -DskipTests
        </build_command>
        <static_analysis_command>
            /Users/jroll/Downloads/apache-maven-3.3.3/bin/mvn findbugs:findbugs
        </static_analysis_command>
        <cloc_command>
            /Users/jroll/Downloads/cloc-1.64/cloc ~/dev/thesis/qpid-java/ --by-file --csv --out=/Users/jroll/IdeaProjects/Thesis/src/cloc.csv
        </cloc_command>
        <cloc_file>
            /Users/jroll/IdeaProjects/Thesis/src/cloc.csv
        </cloc_file>
        <fix_data_dir>
            /Users/jroll/Downloads/data/
        </fix_data_dir>
        <out_req_file>
            outOnlyReq.txt
        </out_req_file>
        <req_map>
            reqMap.txt
        </req_map>
        <file_map>
            fileMap.txt
        </file_map>
        <fix_file>
            fix.txt
        </fix_file>
        <final_out_table>
            big_table.txt
        </final_out_table>
    <final_out_arff>
        big_table.arff
    </final_out_arff>
    <find_bugs_relative>
        /target/findbugsXml.xml
    </find_bugs_relative>
    <git_repo>
        /Users/jroll/dev/thesis/qpid-java
    </git_repo>
    <jira_file>
        /Users/jroll/IdeaProjects/Thesis/src/master_sheet.csv
    </jira_file>
    <jira_directory>
        /Users/jroll/IdeaProjects/Thesis/src/test
    </jira_directory>
    <jira_url>
        https://issues.apache.org/jira/sr/jira.issueviews:searchrequest-excel-all-fields/temp/SearchRequest.xls?jqlQuery=project+%3D+QPID
    </jira_url>
    <req_limit>
        0
    </req_limit>
    <statics_file>
        statics2.txt
    </statics_file>
    <subproject>broker-core</subproject>

    <req_similarity>
        ReqSimilarity_new.csv
    </req_similarity>

    <code_similarity>
        CodeSimilarity_new.csv
    </code_similarity>

    <sonar_host>
        http://localhost:9000/
    </sonar_host>
    <sonar_project>
        apache-ignite
    </sonar_project>
    <sonar_metrics>
        lines,complexity
    </sonar_metrics>


</config>